@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background-image: url('/images/packchat_background.png');
  background-size: cover;
  background-position: center 80%;
}

#__next {
  height: 100%;
}
